* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: auto;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  background-color: #F5F4F0;
}

#title {
  margin-bottom: 40px;
}

#image {
  text-align: center;
  font-style: italic;
  margin-top: 4px;
}

header {
  line-height: auto;
  color: #E1624F;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  border-radius: 28px;
}

main {
  box-sizing: border-box;
  margin: 80px auto 65px auto;
  width: 1120px;
  list-style-position: inside;
}

section + section {
  margin-top: 40px;
}

#description {
  margin: 24px auto 24px auto;
}

hr {
  margin: 40px auto 40px auto;
  background-color: #D9D9D9; /* Altera a cor da linha */
  border: none; /* Remove a borda padrão */
  height: 1px; /* Define a altura da linha */
}

#title-list {
  margin-top: 64px;
}

#list {
  margin-top: 64px;
}

h1 {
  font-size: 36px;
}

h2 {
  margin-bottom: 8px;
  font-size: 32px;
}

h3 {
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}

h1, h2 {
  color: #1E1E1E;
}

li.number{
  margin-top: 20px;
  font-weight: bold;
  font-size: 28px;
}

ul + img {
  margin-top: 48px;
}

li.bullet {
  list-style-type: disc;
}

span.history {
  color: #0C51A7;
}

span.couples {
  color: #591B98;
}

span.families {
  color: #E5245E;
}

span.budget {
  color: #E95E10;
}

span.history, span.couples, span.families, span.budget {
  list-style: disc ;
  font-weight: bold;
  font-size: 16px;
}

#description {
  text-align: center;
}

footer {
  color: #1E1E1E;
  font-family: "Alice", serif;
  line-height: 150%;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  vertical-align:middle ;
  width: 14px;
  height: 28px;
}